<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Registro de Materias
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <div class="ion-text-start">
          <h5>Total de creditos: {{totalCreditosRegistro}}</h5>
        </div>
      </ion-col>
      <ion-col size="12">
        <div class="ion-text-start">
          Materias disponibles:
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card class="materia" *ngFor="let materia of materias" (click)="registrarMateria(materia)"
    color="{{getColor(materia)}}">
    <ion-card-header>
      <ion-card-title>
        <ion-icon color="medium" name="book"></ion-icon>
        {{materia.nombre}}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Creditos: {{materia.creditos}}</p>
      <p>Docente: {{materia.docente.nombre}}</p>
      <p>Salon: {{materia.salon.codigo}}</p>
      <p>Horario: {{materia.horario}}</p>
    </ion-card-content>
  </ion-card>

</ion-content>